head
    meta(charset="UTF-8")
    title=pages[key].title
    meta(name="description", content=pages[key].description)
    link(rel="stylesheet", media="all", href=root + assets.css + '/style.css')
    script(src=root + assets.js + '/apps.js')