block vars
    include _veriables.pug
doctype html
html(lang='ja' prefix='og:http://ogp.me/ns# fb:http://ogp.me/ns/fb#')
    head
        include ./incs/_head.pug
    body
        include ./incs/_header.pug
        block contents
        include ./incs/_footer.pug