@media only screen and (min-width: 60em) {
    table th {
        font-size: 1.6rem;
    }
}
html {
    font-size: 62.5%;
}
body {
    background: #fff;
    font-size: 1.6rem;
}
h1 {
    color: #000;
}
@media only screen and (min-width: 600em) {
    table td {
        font-size: 2rem;
    }
}
